body, html{
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #474954;
  font-family: 'Baloo Thambi', cursive;
  background-image: url("images/background.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seznam-clanku-pozadi{

}

h1{
  font-size: 60px;
  color: #76E8E5;
  margin: 0;
}

h2{
  font-size: 60px;
  color: #76E8E5;
  margin: 0;
}

h3{
  color: #76E8E5;
  margin: 0;
}

.seznam-clanku{
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 10px;
  background-color: #76E8E5;
}

.seznam-clanku span{
  font-size: 20px;
  text-decoration: underline;
}

.seznam-clanku a{
  padding: 10px 0;
  text-decoration: none;
  font-size: 20px;
  color: #76E8E5;
}

.seznam-clanku a:hover{
 color: #5BAFAD;
}

.clanky{
  background-color: #474954;
  margin: 10px;
}

.clanky:hover{
  background-color: #31333A;
}

.container{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

nav{
  float: left;
  margin: 30px;
}

nav a{
  padding: 10px 0;
  text-decoration: none;
  font-size: 20px;
  color: #76E8E5;
}

nav a:hover{
  color: #5BAFAD;
}

article img{
  width: 1000px;
  height: 500px;
}

p{
  text-align: center;
  color: #FFF;
}

article p{
  text-align: justify;
}